@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  height: 100vh;
  height: calc(var(--vh, 1vh)*100);
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

#github {
  font-weight: 400;
}


.calculator {
  background-color: #22252d;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Open Sans';
}

#display {
  padding: 25px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

p{
  text-align: end;
  padding: 10px;
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.controls {
  background-color: #292d36;
  flex: 2;
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

button {
  all: unset;
  width: 18%;
  background-color: #272B33;
  border-radius: 10px;
  color: white;
  padding: 12px 6px;
  text-align: center;
  font-weight: 700;
}

button:hover {
  background-color: #33373f;
}

.red {
  color: #D76061;
}

.green {
  color: #6bf2d2;
}

@media screen and (min-width: 425px) {
  #display,
  .controls {
    padding: 25px 50px;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22252d;
  }
  
  .calculator {
    max-width: 425px;
    max-height: 600px;
    min-height: 580px;
    border: 1px solid #ffffff1f;
    border-radius: 35px;
  }

  .controls {
    border-radius: 35px;
  }
}